.contact_container {
    padding: 0 2rem;
    background-color: $colorGrey;
}

.contact_form {
    padding: 1.25rem 0;
}

.contact_form_item {
    padding: 0.75rem 0;
}

.contact_form_input {
    width: 90%;
    padding: 0.5rem;
}
