/********* Header ********/

header {
    background-image: url("/images/header-image.jpg");
    background-size: cover;
    height: auto;
    max-width: 100%;
    padding-bottom: 20rem;
}

.icon {
    color: $colorBlue;
}

.navbar {
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    max-width: 3em;
    height: auto;
}

.header-icons {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

.header-title {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.destination-header {
    padding: 1rem;
    font-family: $fontAutour;
    font-size: 1.5em;
    color: #ffdada;
}

.slogan {
    font-size: 1em;
}

.btn-more {
    background-color: transparent;
    border: 1px solid;
    font-family: $fontJunge;
    font-size: $fontXSmall;
    line-height: 2.75rem;
    padding: 0;
    max-width: 20%;
}
