/* Font sizes */
$fontXSmall: 1rem;
$fontSmall: 1.2rem;
$fontMedium: 1.6rem;
$fontLarge: 2.4rem;
$fontXLarge: 3.2rem;

/* Font */
$fontAutour: "Autour One", sans-serif;
$fontJunge: "Junge", sans-serif;
